/* Set the background color of the body to a really dark grey */
html,
body {
    background-color: #303030 !important;
    font-family: 'Jura', sans-serif;
    height: 100%;
}

#IntroPage {
    text-align: center;
    height: 100%;
}

#intro-head {
    color: #ffffff;
    font-size: 175px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 0;
    margin-top: 150px;
}

#intro-subhead {
    color: #cecece;
    font-size: 30px;
    font-weight: 300;
    text-align: center;
    margin-top: 0;
}

#IntroPage {
    text-align: center;
}

#icon-container {
    display: flex;
    justify-content: center;
    gap: 40px;
    /* Adjust the gap between icons as needed */
    margin-top: 20px;
    /* Adjust the top margin as needed */
}

.intro-icon {
    width: 150px;
    height: auto;
    cursor: pointer;
}

.intro-icon:hover {
    transform: scale(1.05);
    /* Scale the icon on hover */
}

#about-icon-container {
    display: flex;
    justify-content: center;
    width: 20%;
    gap: 20px;
    /* Adjust the gap between icons as needed */
    margin-top: 20px;
    /* Adjust the top margin as needed */
}

.about-icon {
    width: 50px;
    height: auto;
    cursor: pointer;
}

.about-icon-label {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    color: #ffffff;
    text-decoration: none;
}

.icon-label {
    display: none;
    text-align: center;
    margin-top: 10px;
    font-size: 16px;
    color: #ffffff;
    text-decoration: none;
}

.intro-link {
    text-decoration: none;
    /* Ensure links are not underlined */
}

.intro-link:hover .icon-label {
    display: block;
}

.page-section {
    opacity: 0;
    transition: opacity 1s ease-in-out;
    display: none;
}

.page-section.visible {
    opacity: 1;
    display: block;
}

#back-to-top {
    position: fixed;
    bottom: 20px;
    left: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #0b0b0b;
    fill-opacity: 0.4;
    color: white;
    border: 1px solid #ffffff;
    border-radius: 5px;
    cursor: pointer;
    display: none;
    /* Initially hidden */
    z-index: 1000;
    /* Ensure it appears above other elements */
    font-family: 'Jura', sans-serif;
}

h1 {
    color: #fff;
    font-size: 72px;
    font-weight: 300;
    font-family: 'Jura', sans-serif;
    margin: 10;
    padding: 5;
}

h2 {
    color: #fff;
    font-size: 26px;
    font-weight: 300;
    margin: 5;
    padding: 5;
}

h3 {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin: 0;
    padding: 0;
}

p {
    color: #fff;
    font-size: 14px;
    font-weight: 300;
    margin: 0;
    padding: 0;
}

footer {
    position: fixed;
    bottom: 0;
    width: 98%;
    text-align: right;
    margin-right: 100px;
    margin-left: 0px;
    padding: 10px 0px;
    font-family: 'jura', sans-serif;
    font-size: 2pt;
    color: #434343
}

#footer-text {
    font-size: 12px;
}

#learn-gems {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

#learn-more-container {
    flex: 1;
}

/* Style for the tree map nodes */
.node {
    border: solid 1px #fff;
    font: 30px 'Jura', sans-serif;
    line-height: 30px;
    overflow: hidden;
    position: absolute;
    text-indent: 2px;
}

/* Style for the text within the nodes */
.node text {
    pointer-events: none;
    fill: #000;
    /*text-anchor: start;*/
    font-family: 'Jura', sans-serif;
    overflow: hidden;
    /* Hide overflow text */
    text-overflow: ellipsis;
    /* Add ellipsis for overflow text */
}

#main-map {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    /* Align items to the top */
}

#map-container {
    flex: 1;
}

#map-info {
    width: 400px;
    height: 90%;
    padding: 20px;
    border-right: 5px solid #ccc;
    background-color: #303030;
    margin-top: 10px;
    overflow: hidden;
}


.info-spacing {
    margin-bottom: 10px;

    /* Adjust the value as needed */
}


#main-tree {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    /* Align items to the top */
}

#treemap-container {
    flex: 1;
}

#tree-info {
    width: 500px;
    height: 90%;
    padding: 20px;
    border-right: 5px solid #ccc;
    background-color: #303030;
    margin-top: 10px;
    overflow: hidden;
    font-family: 'Jura', sans-serif;
}

.info-spacing {
    margin-bottom: 10px;

    /* Adjust the value as needed */
}

/* styles.css */
#back-button {
    background-color: #303030;
    color: #ffffff;
    padding: 7px 20px;
    /* Padding */
    border: 2px solid #ffffff;
    /* No border */
    border-radius: 5px;
    /* Rounded corners */
    cursor: pointer;
    /* Pointer cursor on hover */
    font-size: 14px;
    /* Font size */
    font-family: 'Jura', sans-serif;
    margin-top: 10px;
    /* Margin at the top */
    margin-left: 20px;
}

.icon {
    width: 30%;
    height: auto;
    cursor: pointer;
}

.icon.active {
    border: 2px solid #000;
    /* Example active state style */
}

#explore-buttons {
    margin-bottom: 10px;
    background-color: #303030;
    color: #ffffff;
    padding: 10px 10px;
    /* Padding */
}

#explore-buttons button {
    background-color: #303030;
    color: #ffffff;
    padding: 2px 20px;
    /* Padding */
    border: 2px solid #ffffff;
    /* No border */
    border-radius: 5px;
    /* Rounded corners */
    cursor: pointer;
    /* Pointer cursor on hover */
    font-size: 12px;
    font-family: 'Jura', sans-serif;
    margin-left: 0px;
    margin-right: 10px;

}

#explore-buttons button:hover {
    background-color: #434343;
    /* Darker green on hover */
}

#explore-buttons button.active {
    background-color: #636363a2;
    color: #ffffff;
}

#dropdown-container {
    margin-bottom: 20px;
    background-color: #303030;
    position: relative;
    font-family: 'Jura', sans-serif;
    /* Adjust this value to position the dropdown below the header */
    left: 5px;
    z-index: 10;
}

#gem-type-dropdown {
    margin-bottom: 20px;
    background-color: #303030;
    position: relative;
    font-family: 'Jura', sans-serif;
    /* Adjust this value to position the dropdown below the header */
    z-index: 10;

}

#backButton:hover {
    background-color: #cde4e563;
    /* lighter gray on hover */
}

.shiny {
    fill: url(#shiny-gradient);
}

#shiny-gradient {
    stop-color: rgba(255, 255, 255, 0.5);
    stop-opacity: 0.5;
}

#slider-container {
    position: absolute;
    top: 15px;
    /* Adjust this value to position the slider below the header */
    right: 10px;
    z-index: 10;
}

#color-dropdown {
    background-color: #303030;
    border-radius: 5px;
    color: #ffffff;
    position: relative;
    top: 10px;
    font-family: 'Jura', sans-serif;
    /* Adjust this value to position the dropdown below the header */
    left: 5px;
    z-index: 10;
    border: 1.5px solid #ffffff;
    font-size: 12px;
    padding: 2px 20px;
}

#country-dropdown {
    background-color: #303030;
    border-radius: 5px;
    color: #ffffff;
    position: relative;
    top: 10px;
    font-family: 'Jura', sans-serif;
    /* Adjust this value to position the dropdown below the header */
    left: 5px;
    z-index: 10;
    border: 1.5px solid #ffffff;
    font-size: 12px;
    padding: 2px 20px;
}

#tree-control {
    font-size: 12px;
}


#notable-gems {
    position: relative;
    padding: 20px;
}


#notable-info {
    width: 400px;
    height: 100vh;
    padding: 20px;
    border-right: 5px solid #ccc;
    background-color: #303030;
    margin-top: 10px;
    overflow: hidden;
}

#notable-info h2 {
    color: #ffffff;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
}

.step {
    margin: 50px 0;
    text-align: center;
    margin-left: 420px;
}

.step img {
    max-width: 100%;
    height: auto;
}

#learn-more-head {
    text-align: center;
    margin-top: 20px;
    padding: 20px;
    border-bottom: 4px solid #ccc;
    margin-left: 100px;
    margin-right: 100px;
}

#learn-body {
    text-align: center;
    margin-top: 20px;
    margin-left: 100px;
    margin-right: 100px;
    font-size: 40px;
}

#learn-more-content {
    text-align: left;
    margin-top: 20px;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 20px;
}

#about-info {
    width: 400px;
    height: 90%;
    padding: 20px;
    border-right: 5px solid #ccc;
    background-color: #303030;
    margin-top: 10px;
    overflow: hidden;
    position: fixed;
}

#about-info h2 {
    color: #ffffff;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
}

#notable-info {
    position: sticky;
    top: 0;
    padding: 20px;
    z-index: 10;
}