/* Set the background color of the body to a really dark grey */
body {
    background-color: #303030 !important;
    font-family: 'Jura', sans-serif;
}

h1 {
    color: #fff;
    font-size: 40px;
    font-weight: 500;
    margin: 10;
    padding: 5;
}

h2 {
    color: #fff;
    font-size: 30px;
    font-weight: 300;
    margin: 10;
    padding: 5;
}

p {
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    margin: 0;
    padding: 0;
}

/* Style for the tree map nodes */
.node {
    border: solid 1px #fff;
    font: 30px 'Jura', sans-serif;
    line-height: 30px;
    overflow: hidden;
    position: absolute;
    text-indent: 2px;
}

/* Style for the text within the nodes */
.node text {
    pointer-events: none;
    fill: #000;
    /*text-anchor: start;*/
    font-family: 'Jura', sans-serif;
    overflow: hidden;
    /* Hide overflow text */
    text-overflow: ellipsis;
    /* Add ellipsis for overflow text */
}

#main-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    /* Align items to the top */
}

#treemap-container {
    flex: 1;
}

#info-container {
    width: 500px;
    padding: 20px;
    border-left: 5px solid #ccc;
    background-color: #303030;
    margin-top: 150px;
    overflow: hidden;
    /* Ensure content does not overflow */
    /* Adjust this value to match the margin-top of the treemap header */
}

.info-spacing {
    margin-bottom: 10px;

    /* Adjust the value as needed */
}

/* styles.css */
#backButton {
    background-color: #4CAF50;
    /* Green background */
    color: white;
    /* White text */
    padding: 10px 20px;
    /* Padding */
    border: none;
    /* No border */
    border-radius: 5px;
    /* Rounded corners */
    cursor: pointer;
    /* Pointer cursor on hover */
    font-size: 16px;
    /* Font size */
    margin-top: 10px;
    /* Margin at the top */
}

#backButton:hover {
    background-color: #45a049;
    /* Darker green on hover */
}